body {
    font-family: 'Arima', cursive;
    font-family: 'Roboto', sans-serif;
}
.men-body{
    display: flex;
}
.men-body h1 {
    z-index: 2;
}

.skip{
    color: orange;
}
.half-width {
    width: 50%;
    
}

.half-width img {
    width: 100%;
    margin-left: -120px;
    z-index: 1;
    
}

.half-width h1 {
    font-size: 60px;
    line-height: 70px;
    color: rgb(87, 85, 85);
}

.half-width p{
    line-height: 25px;
    color: rgb(133, 128, 128);
}
.font-style{
    padding-top: 40px;
    padding-left: 90px;
}

.order {
    background-image: linear-gradient(orange, tomato);
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: -30px;
    color: white;
}
